.h{
    text-align: center;
    color: red;
}
.box1, .box2, .box3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    border: 4px solid green;
    border-radius: 50px;
}
.box1:hover{
    background-color: blueviolet;
}
.box2:hover{
    background-color: red;
}
.box3:hover{
    background-color: aqua;
}