.pro{
      width: 300px;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      margin: 30px auto;
      border: 5px dashed #086e2a;
      text-align: center;
      background-color: gray;

}
h1{
    text-align: center;
    color: red;
}
h3{
    color: blue;
}
h5{
    color: gold;
}
img{
    border-radius: 50%;;
}
.pro:hover{
    background-color: aqua;
}